<h3>Edicion de orden de trabajo
   <small>Edite o cree una orden de trabajo</small>
</h3>
<div class="row">
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div ng-if="ficha.entidad.eid.value == ''" class="panel panel-default">
         <div class="panel-heading">Seleccione el nombre de la entidad</div>
         <div class="panel-body">
            <div class="row">
               <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
                  <div class="form-group">
                     <input type="text" placeholder="Seleccione una entidad" ng-model="ficha.entidad" uib-typeahead="address.nombre.value+' '+address.apellido.value for address in getEntitys($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                     class="form-control" /><i ng-show="loadingLocations" class="fa fa-refresh"></i>
                     <div ng-show="noResults"><i class="fa fa-remove">No Results Found</i>
                     </div>
                  </div>
               </div>
               <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 text-center">
                  <div class="btn btn-default">
                     <div class="fa fa-user-plus mr-sm"></div>CREATE NEW</div>
               </div>
            </div>
            <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <div class="btn btn-primary">
                     <h3 class="text-center mv-none pv-sm">
                        <small style="color:#fff;">CONTINUAR CON LA ENTIDAD SELECCIONADA</small>
                        <div>
                           <div class="fa fa-angle-down"></div>
                        </div>
                     </h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div ng-if="ficha.entidad.eid.value != ''" class="panel panel-default">
         <div class="bg-info panel-body">
            <div class="row">
               <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <h1>
                     <div class="text-thin">Ficha de ordenes de trabajo</div>
                     <small>Nro: 353454645645</small>
                  </h1>
               </div>
               <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                  <h2 class="text-right">
                     <div class="text-thin">draweb</div>
                     <small>Maximiliano Piccinini
                        <div class="text-thin">podmaxs@gmail.com</div>
                     </small>
                  </h2>
                  <div class="text-right">
                     <div class="btn btn-primary mr-sm">
                        <div class="fa fa-trash mr-sm"></div>DESCARTAR BORRADOR</div>
                     <div class="btn btn-primary">
                        <div class="fa fa-floppy-o mr-sm"></div>GUARDAR</div>
                     <div class="btn btn-default ml-sm">
                        <div class="fa fa-print mr-sm"></div>GUARDAR E IMPRIMIR</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
               <div class="table-responsive">
                  <table class="table table-hover">
                     <thead>
                        <tr>
                           <th class="text-center">Device</th>
                           <th class="text-center">Marca</th>
                           <th class="text-center">Modelo</th>
                           <th class="text-center">Serial</th>
                           <th class="text-center">Trabajo</th>
                           <th class="text-center">Notas</th>
                           <th class="text-center">Action</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <div class="form-group">
                                 <select class="form-control">
                                    <option value="">SmartPhone</option>
                                    <option value="">Tablet</option>
                                    <option value="">Notebook</option>
                                    <option value="">Otro</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="form-group">
                                 <input type="text" class="form-control" />
                              </div>
                           </td>
                           <td>
                              <div class="form-group">
                                 <input type="text" class="form-control" />
                              </div>
                           </td>
                           <td>
                              <div class="form-group">
                                 <input type="text" class="form-control" />
                              </div>
                           </td>
                           <td>
                              <div class="form-group">
                                 <select class="form-control">
                                    <option value="">Desbloqueo parcial</option>
                                    <option value="">Desbloqueo completo</option>
                                    <option value="">Servicio Tecnico</option>
                                    <option value="">Software</option>
                                    <option value="">Presupuestar</option>
                                 </select>
                              </div>
                           </td>
                           <td>
                              <div class="form-group">
                                 <textarea class="form-control no-resize"></textarea>
                              </div>
                           </td>
                           <td width="50px">
                              <div class="btn btn-primary">ADD</div>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="100%" class="text-center bg-white">
                              <h3 class="text-thin">Listado de ordenes cargadas</h3>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>