<div class="p-sm text-center">
   <div style="max-width:700px; margin:20px auto;" ng-repeat="p in [0]" class="panel panel-default">
      <table class="table table-bordered mb-none">
         <thead>
            <tr>
               <th width="50%">p</th>
               <th width="50%">b</th>
            </tr>
         </thead>
      </table>
      <table style="border-top:1px solid #ddd;" class="table table-bordered">
         <thead>
            <tr>
               <th class="text-left">Descripcion</th>
               <th class="text-center">Presio</th>
            </tr>
         </thead>
         <tbody>
            <tr ng-repeat="or in [1,2,3]">
               <td>
                  <div class="media">
                     <div class="media-body text-left">
                        <h4 class="media-heading text-thin">
                           <div class="label label-default text-dark">Media heading</div>
                        </h4>
                        <p class="text-thin">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil consectetur voluptas quos, dolorem quae magnam debitis, nobis id in, ut aliquid iste suscipit. Cupiditate est adipisci tempora, beatae optio unde!</p>
                     </div>
                  </div>
               </td>
               <td>r</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>