h3
	| Edicion de orden de trabajo
	small Edite o cree una orden de trabajo
.row
	.col-xs-12.col-sm-12.col-md-12.col-lg-12
		.panel.panel-default(ng-if="ficha.entidad == undefined || ficha.entidad.fid.value == ''")
			.panel-heading
				|Seleccione el nombre de la entidad
			.panel-body
				.row
					.col-xs-9.col-sm-9.col-md-10.col-lg-10
						entity-filter(value="entidadFilter",on-select="setSelection")
					.col-xs-3.col-sm-3.col-md-2.col-lg-2.text-center
						.btn.btn-default
							.fa.fa-user-plus.mr-sm
							| CREATE NEW
				.row
					.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
						.btn.btn-primary(ng-click="selectEntity()")
							h3.text-center.mv-none.pv-sm
								small(style="color:#fff;") CONTINUAR CON LA ENTIDAD SELECCIONADA
								div
									.fa.fa-angle-down
		.panel.panel-default(ng-if="ficha.entidad != undefined && ficha.entidad.fid.value != ''")
			div.bg-info.panel-body
				.row
					.col-xs-4.col-sm-4.col-md-4.col-lg-4
						h1
							.text-thin Ficha de ordenes de trabajo
							small Nro: {{ficha.nro.value}}
					.col-xs-8.col-sm-8.col-md-8.col-lg-8
						h2.text-right
							div.text-thin {{ficha.entidad.referencia.value}}
							small
								|{{ficha.entidad.nombre.value+' '+ficha.entidad.apellido.value}}
								.text-thin {{ficha.entidad.email.value}}
						div.text-right
							.btn.btn-primary.mr-sm
								.fa.fa-trash.mr-sm
								| DESCARTAR BORRADOR
							.btn.btn-primary
								.fa.fa-floppy-o.mr-sm
								| GUARDAR
							.btn.btn-default.ml-sm(ng-click="saveFicha()")
								.fa.fa-print.mr-sm
								| GUARDAR E IMPRIMIR
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					.table-responsive
						table.table.table-hover
							thead
								tr
									th(colspan="100%")
										order-form(form-order="formOrder")
							tbody
								tr(ng-repeat="order in ordersList")

									td.text-center
										| {{order.type.value}}
									td.text-center
										| {{order.reference.value}}
									td.text-center
										| {{order.code.value}}
									td.text-center
										| {{order.work.value}}
									td.text-center
										| {{order.notes[0].text}}
									td.text-center
										.btn.btn-xs.btn-default(ng-click="order.pop()")
											.fa.fa-trash
								tr(ng-if="!ordersList[0]")
									td.text-center.bg-white(colspan="100%")
										h3.text-thin Listado de ordenes cargadas